<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GreetingCard"
        tools:targetApi="31" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Necesario para Firebase -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />


        <!-- Proveedor de inicialización de Firebase -->
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            android:exported="false"
            tools:node="merge" />

        <activity
            android:name=".Geo"
            android:exported="false"
            android:label="@string/title_activity_geo"
            android:theme="@style/Theme.GreetingCard" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:theme="@style/Theme.GreetingCard" />
        <activity
            android:name=".acciones"
            android:exported="false"
            android:label="@string/title_activity_acciones"
            android:theme="@style/Theme.GreetingCard" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Chat" />
        <activity
            android:name=".Crearinvitacion"
            android:exported="false"
            android:label="@string/title_activity_crearinvitacion"
            android:theme="@style/Theme.GreetingCard" />
        <activity
            android:name=".InvitacionQR"
            android:exported="false"
            android:label="@string/title_activity_invitacion_qr"
            android:theme="@style/Theme.GreetingCard" />
        <activity
            android:name=".RecuperarContraseña2"
            android:exported="false"
            android:label="@string/title_activity_recuperar_contraseña2"
            android:theme="@style/Theme.GreetingCard" />
        <activity
            android:name=".RecuperarContraseña"
            android:exported="false"
            android:label="@string/title_activity_recuperar_contraseña"
            android:theme="@style/Theme.GreetingCard" />
        <activity
            android:name=".RecuperaContraseña"
            android:exported="false"
            android:label="@string/title_activity_recupera_contraseña"
            android:theme="@style/Theme.GreetingCard" />
        <activity android:name=".CambiarDatos" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GreetingCard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistroMain"
            android:exported="true"
            android:label="Registro"
            android:theme="@style/Theme.GreetingCard" />
    </application>

</manifest>